@model AB.NambuImoveis.Application.ViewModels.ClienteViewModel


<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.Nome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.Nome, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.Sobrenome, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.Sobrenome, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.RG, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.RG, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.RG, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.CPF, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.CPF, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.Sexo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.Sexo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.EstadoCivil, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EnumDropDownListFor(model => model.PessoaFisica.EstadoCivil, "", new { htmlAttributes = new { @class = "form-control dropdown" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.EstadoCivil, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.Naturalidade, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.Naturalidade, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.Naturalidade, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.Nacionalida, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.Nacionalida, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.Nacionalida, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.Profissao, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.Profissao, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.Profissao, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.Email, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.Renda, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.Renda, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.Renda, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PessoaFisica.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PessoaFisica.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.DataNascimento, "", new { @class = "text-danger" })
    </div>
</div>

@section Scripts{

    $("#PessoaFisica_RG")

}